@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="Home/SubmitForm"> 
    First Name: <input ><br>
    Last Name: <input type="text" name="lname"><br><br>
    <input type="submit" value="Submit">
</form>
